@using X.PagedList
@using X.PagedList.Mvc.Core
@model IPagedList<ThuVienSo.Models.MuonTra>


<!-- Font Awesome -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<!-- Moment.js -->
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.4/min/moment.min.js"></script>

<!-- Daterangepicker -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<script src="~/js/muontra.js"></script>

<link rel="stylesheet" href="/css/muontra.css" />



<!-- ================= TAB CHÍNH ================= -->
<div class="tabs-wrapper">
    <ul class="main-tabs">
        <li class="active" data-tab="muontra-tab">📚 MƯỢN - TRẢ</li>
        <li data-tab="chinh-sach-tab">⚖️ CHÍNH SÁCH</li>
        <li data-tab="lich-tab">📅 LỊCH / THẺ</li>
    </ul>

    <!-- ==================== DANH SÁCH MƯỢN – TRẢ ==================== -->
    <div id="muontra-tab" class="tab-content">

        <!-- 🔹 Phần panel-heading đã được đưa vào đúng vị trí -->
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left" style="margin-top:5px;">
                <i class="fa fa-book"></i> Danh sách Mượn – Trả
            </h3>
            <div class="pull-right">
                <button class="btn btn-success btn-sm" id="btnMuonSach" data-toggle="modal" data-target="#muonSachModal">
                    <i class="fa fa-plus-circle"></i> Mượn Sách
                </button>
                <button class="btn btn-primary btn-sm" id="btnTraSach">
                    <i class="fa fa-undo"></i> Trả Sách
                </button>
            </div>
        </div>


        <div class="panel-body">

            <!-- ✅ Sub-tabs (trạng thái mượn trả) -->
            <div class="btn-group" id="subTabGroup">
                <button class="btn btn-success active" data-subtab="tab-dangky">Đã đăng ký mượn (3)</button>
                <button class="btn btn-warning" data-subtab="tab-dangmuon">Đang mượn (2)</button>
                <button class="btn btn-info" data-subtab="tab-datra">Đã trả (1)</button>
                <button class="btn btn-danger" data-subtab="tab-quahan">Quá hạn trả (1)</button>
            </div>

            <!-- ✅ Bộ lọc người dùng -->
            <div class="btn-group" style="margin-left:10px;">
                <button class="btn btn-default active">Học sinh</button>
                <button class="btn btn-default">Giáo viên</button>
            </div>

            <!-- ✅ Bộ lọc tìm kiếm -->
            <div class="row" style="margin-top:15px;">
                <div class="col-md-4">
                    <input type="text" class="form-control" placeholder="🔍 Nhập mã thành viên hoặc nhan đề sách">
                </div>
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="dateRange" placeholder="Ngày bắt đầu - Ngày kết thúc">
                </div>
            </div>

                <div class="col-md-2 text-right">
                    <button class="btn btn-default"><i class="fa fa-refresh"></i> Tải lại</button>
                </div> <div class="col-md-2 text-right">
                    <div class="col-md-2 text-right">
                        <button id="btnMoModal" class="btn btn-add">➕ Đăng ký số mới</button>
                    </div>
                </div>
            </div>

                <!-- ✅ Nội dung các sub-tab -->
                <div class="subtab-container" style="margin-top:15px;">

                    <!-- 🟩 Đã đăng ký mượn -->
                    <div id="tab-dangky" class="subtab-content active">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover text-center">
                                <thead>
                                    <tr class="info">
                                        <th style="width:20px;"><input type="checkbox"></th>
                                        <th>Thành viên</th>
                                        <th>Nhan đề</th>
                                        <th>Số ĐKCB</th>
                                        <th>Bìa</th>
                                        <th>Đăng ký</th>
                                        <th>Trạng thái</th>
                                        <th>Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <strong>Tài khoản demo Giáo viên</strong><br>
                                        <a href="#">Giáo viên</a>
                                    </td>
                               
                                    <td class="text-left">
                                        <strong>Sách giáo khoa Ngữ văn 7 - Tập 2 Cánh Diều</strong><br>
                                        <small>GS.TS. Nguyễn Minh Thuyết, Lê Thị Tuyết Hạnh...</small>
                                    </td>
                                    <td><span class="label label-info">SGK0054</span></td>
                                    <td><img src="https://via.placeholder.com/40x55?text=Văn" class="img-thumbnail"></td>
                                    <td>07/06/2025<br><small>20:42:46</small></td>
                                    <td><span class="label label-success">Đã xác nhận</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Cho mượn</button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Hủy</button>
                                        <button class="btn btn-default btn-xs btn-in-bien-nhan">
                                            <i class="fa fa-print"></i> In biên nhận
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <strong>Tài khoản demo Học sinh 01</strong><br>
                                        <a href="#">Lớp 7A1</a>
                                    </td>
                                
                                    <td class="text-left">
                                        <strong>Sách giáo khoa Toán 7 - Tập 1 Cánh Diều</strong><br>
                                        <small>PGS.TS. Đỗ Tiến Đạt, Nguyễn Áng...</small>
                                    </td>
                                    <td><span class="label label-info">SGK0053</span></td>
                                    <td><img src="https://via.placeholder.com/40x55?text=Toán" class="img-thumbnail"></td>
                                    <td>07/06/2025<br><small>20:45:18</small></td>
                                    <td><span class="label label-warning">Chờ duyệt</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Cho mượn</button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Hủy</button>
                                        <button class="btn btn-default btn-xs btn-in-bien-nhan">
                                            <i class="fa fa-print"></i> In biên nhận
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <strong>Tài khoản demo Học sinh 02</strong><br>
                                        <a href="#">Lớp 7A2</a>
                                    </td>
                                
                                    <td class="text-left">
                                        <strong>Sách giáo khoa Tiếng Anh 7 - Explore English</strong><br>
                                        <small>NXB Giáo dục Việt Nam, Pearson...</small>
                                    </td>
                                    <td><span class="label label-info">SGK0055</span></td>
                                    <td><img src="https://via.placeholder.com/40x55?text=Anh" class="img-thumbnail"></td>
                                    <td>07/06/2025<br><small>20:47:05</small></td>
                                    <td><span class="label label-success">Đã xác nhận</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Cho mượn</button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Hủy</button>
                                        <button class="btn btn-default btn-xs btn-in-bien-nhan">
                                            <i class="fa fa-print"></i> In biên nhận
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <strong>Tài khoản demo Học sinh 03</strong><br>
                                        <a href="#">Lớp 7A3</a>
                                    </td>
                                
                                    <td class="text-left">
                                        <strong>Sách giáo khoa Lịch sử & Địa lí 7 - Cánh Diều</strong><br>
                                        <small>TS. Nguyễn Xuân Trường, Phạm Văn Quang...</small>
                                    </td>
                                    <td><span class="label label-info">SGK0056</span></td>
                                    <td><img src="https://via.placeholder.com/40x55?text=Sử" class="img-thumbnail"></td>
                                    <td>07/06/2025<br><small>20:49:32</small></td>
                                    <td><span class="label label-default">Đã hủy</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Cho mượn</button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Hủy</button>
                                        <button class="btn btn-default btn-xs btn-in-bien-nhan">
                                            <i class="fa fa-print"></i> In biên nhận
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <strong>Tài khoản demo Học sinh 04</strong><br>
                                        <a href="#">Lớp 7A4</a>
                                    </td>
                                
                                    <td class="text-left">
                                        <strong>Sách giáo khoa Khoa học tự nhiên 7 - Cánh Diều</strong><br>
                                        <small>GS.TS. Trần Kiều, Vũ Văn Dũng...</small>
                                    </td>
                                    <td><span class="label label-info">SGK0057</span></td>
                                    <td><img src="https://via.placeholder.com/40x55?text=KHTN" class="img-thumbnail"></td>
                                    <td>07/06/2025<br><small>20:52:11</small></td>
                                    <td><span class="label label-success">Đã xác nhận</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Cho mượn</button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Hủy</button>
                                        <button class="btn btn-default btn-xs btn-in-bien-nhan">
                                            <i class="fa fa-print"></i> In biên nhận
                                        </button>
                                    </td>
                                </tr>

                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>
                                        <strong>Tài khoản demo Học sinh 05</strong><br>
                                        <a href="#">Lớp 7A5</a>
                                    </td>
                                
                                    <td class="text-left">
                                        <strong>Sách giáo khoa Công nghệ 7 - Cánh Diều</strong><br>
                                        <small>PGS.TS. Nguyễn Văn Biên, Trần Văn Hùng...</small>
                                    </td>
                                    <td><span class="label label-info">SGK0058</span></td>
                                    <td><img src="https://via.placeholder.com/40x55?text=CN" class="img-thumbnail"></td>
                                    <td>07/06/2025<br><small>20:55:27</small></td>
                                    <td><span class="label label-warning">Chờ duyệt</span></td>
                                    <td>
                                        <button class="btn btn-success btn-xs"><i class="fa fa-check"></i> Cho mượn</button>
                                        <button class="btn btn-danger btn-xs"><i class="fa fa-times"></i> Hủy</button>
                                        <button class="btn btn-default btn-xs btn-in-bien-nhan">
                                            <i class="fa fa-print"></i> In biên nhận
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                <!-- 🟨 Đang mượn -->
                <!-- 🟨 Đang mượn -->
                <div id="tab-dangmuon" class="subtab-content" style="display:none;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr class="warning">
                                    <th style="width:20px;"><input type="checkbox"></th>
                                    <th>Thành viên</th>
                                    <th>Nhan đề</th>
                                    <th>Ngày mượn</th>
                                    <th>Hạn trả</th>
                                    <th>Trạng thái</th>
                                    <th>Thao tác</th> <!-- 🆕 Thêm cột -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>tk_demo_gv 1</td>
                                    <td>Sách giáo khoa Toán 7 - Tập 1 Cánh Diều</td>
                                    <td>07/06/2025</td>
                                    <td>14/06/2025</td>
                                    <td><span class="label label-warning">Đang mượn</span></td>
                                    <td>
                                        <button class="btn btn-info btn-xs btn-giahan">
                                            <i class="fa fa-clock-o"></i> Gia hạn
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>tk_demo_gv 2</td>
                                    <td>Sách giáo khoa Toán 7 - Tập 2 Cánh Diều</td>
                                    <td>07/06/2025</td>
                                    <td>14/06/2025</td>
                                    <td><span class="label label-warning">Đang mượn</span></td>
                                    <td>
                                        <button class="btn btn-info btn-xs btn-giahan">
                                            <i class="fa fa-clock-o"></i> Gia hạn
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- 🟦 Đã trả -->
                <div id="tab-datra" class="subtab-content" style="display:none;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr class="info">
                                    <th style="width:20px;"><input type="checkbox"></th>
                                    <th>Thành viên</th>
                                    <th>Nhan đề</th>
                                    <th>Ngày mượn</th>
                                    <th>Ngày trả</th>
                                    <th>Đánh giá</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>tk_demo_gv</td>
                                    <td>Luyện giải bộ đề Tiếng Anh lớp 9</td>
                                    <td>01/06/2025</td>
                                    <td>05/06/2025</td>
                                    <td>
                                        <button class="btn btn-success btn-xs btn-rate">
                                            ⭐ Đánh giá
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <!-- 🟥 Quá hạn -->
                <div id="tab-quahan" class="subtab-content" style="display:none;">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-center">
                            <thead>
                                <tr class="danger">
                                    <th style="width:20px;"><input type="checkbox"></th>
                                    <th>Thành viên</th>
                                    <th>Nhan đề</th>
                                    <th>Ngày mượn</th>
                                    <th>Hạn trả</th>
                                    <th>Ngày hiện tại</th>
                                    <th>Thao tác</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input type="checkbox"></td>
                                    <td>tk_demo_hs</td>
                                    <td>Thuật toán nâng cao</td>
                                    <td>01/06/2025</td>
                                    <td>05/06/2025</td>
                                    <td>07/06/2025</td>
                                    <td><button class="btn btn-danger btn-xs">Liên hệ</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div> <!-- /subtab-container -->


            <!-- ✅ Phân trang -->
            <div class="text-right">
                <ul class="pagination pagination-sm" style="margin:0;">
                    <li class="disabled"><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>

        </div>
        </div>


<!-- MODAL ĐĂNG KÝ MƯỢN SÁCH TRỰC TIẾP -->
<div class="modal fade" id="muonSachModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header bg-success text-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-book"></i> Mượn Sách</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- ✅ Cột trái: Thông tin bạn đọc -->
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Thông tin bạn đọc</strong>
                                <span class="pull-right text-muted">
                                    Danh sách đăng ký mượn (<span id="soSachDangKy">0</span> cuốn)
                                </span>
                            </div>

                            <div class="panel-body">

                                <!-- ✅ Chọn sách -->
                                <div class="form-group">
                                    <label for="chonSach">Chọn sách muốn mượn</label>
                                    <select id="chonSach" class="form-control">
                                        <option value="">-- Chọn sách --</option>
                                        <option value="SGK001" data-bia="https://via.placeholder.com/40x55" data-dkcb="SGK001">Sách giáo khoa Toán 9 – Tập 1</option>
                                        <option value="SGK002" data-bia="https://via.placeholder.com/40x55" data-dkcb="SGK002">Sách giáo khoa Toán 9 – Tập 2</option>
                                        <option value="VH001" data-bia="https://via.placeholder.com/40x55" data-dkcb="VH001">Ngữ Văn 9 – Tập 1</option>
                                        <option value="VH002" data-bia="https://via.placeholder.com/40x55" data-dkcb="VH002">Ngữ Văn 9 – Tập 2</option>
                                        <option value="LS001" data-bia="https://via.placeholder.com/40x55" data-dkcb="LS001">Lịch sử 9</option>
                                        <option value="DL001" data-bia="https://via.placeholder.com/40x55" data-dkcb="DL001">Địa lý 9</option>
                                    </select>
                                </div>

                                <!-- ✅ Bảng danh sách sách mượn -->
                                <div class="table-responsive" id="bangSachMuonWrapper" style="display:none; margin-top:15px;">
                                    <table class="table table-bordered table-hover text-center" id="bangSachMuon">
                                        <thead>
                                            <tr class="info">
                                                <th>STT</th>
                                                <th>Nhân đề</th>
                                                <th>Số ĐKCB</th>
                                                <th>Bìa</th>
                                                <th>Số ngày mượn</th>
                                                <th>Ngày trả</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- ✅ Cột phải: Thông tin thành viên -->
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Thông tin thành viên</strong></div>
                            <div class="panel-body">
                                <p><strong> Demo </strong></p>
                                <p><small>Lớp/Tổ:</small> Giáo viên</p>
                                <p><small>Niên khóa:</small> 2024/2025</p>
                                <p><small>Ngày sinh:</small> --</p>
                                <p><small>Giới tính:</small> Nữ</p>
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Thoát</button>
                            </div>
                        </div>

                        <!-- ✅ Tóm tắt -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p><strong>Tổng số sách:</strong> <span id="tongSach">0</span></p>
                                <p><strong>Số ngày mượn:</strong> <span id="soNgayMuon">7</span></p>
                                <p><strong>Ngày trả:</strong> <span id="ngayTra">--/--/----</span></p>
                                <button id="btnXacNhanMuon" class="btn btn-success btn-block">
                                    <i class="fa fa-check"></i> Xác nhận mượn
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<!--MODAL ĐĂNG KÝ MƯỢN SÁCH-->
    <!-- 🪪 Modal Đăng ký mới -->
    <div class="modal fade" id="modalDangKyMoi" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header bg-primary text-white">
                    <h4 class="modal-title" id="modalLabel">📘 Đăng ký số mới</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form id="formDangKyMoi">
                        <div class="form-group">
                            <label>Thành viên</label>
                            <input type="text" id="dkThanhVien" class="form-control" placeholder="Nhập tên thành viên...">
                        </div>
                        <div class="form-group">
                            <label>Nhan đề</label>
                            <input type="text" id="dkNhanDe" class="form-control" placeholder="Nhập tên nhan đề...">
                        </div>
                        <div class="form-group">
                            <label>Số ĐKCB</label>
                            <input type="text" id="dkSoDKCB" class="form-control" placeholder="VD: DK12345">
                        </div>
                        <div class="form-group">
                            <label>Ảnh bìa (URL)</label>
                            <input type="text" id="dkBia" class="form-control" placeholder="https://...">
                        </div>
                        <div class="form-group">
                            <label>Trạng thái</label>
                            <select id="dkTrangThai" class="form-control">
                                <option value="Chờ duyệt">Chờ duyệt</option>
                                <option value="Đã xác nhận">Đã xác nhận</option>
                                <option value="Đã hủy">Đã hủy</option>
                            </select>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button id="btnLuuDangKyMoi" class="btn btn-primary">💾 Lưu</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">❌ Đóng</button>
                </div>

            </div>
        </div>
    </div>


<!-- MODAL TRẢ SÁCH TRỰC TIẾP-->

<div class="modal fade" id="traSachModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header bg-primary text-white">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-undo"></i> Trả Sách</h4>
            </div>

            <div class="modal-body">
                <div class="row">

                    <!-- ✅ Cột trái -->
                    <div class="col-md-8">

                        <!-- DANH SÁCH ĐANG MƯỢN -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <strong>Danh sách đang mượn (3 cuốn)</strong>
                            </div>
                            <div class="panel-body">
                                <table class="table table-bordered table-hover text-center">
                                    <thead>
                                        <tr class="info">
                                            <th>Nhân đề</th>
                                            <th>Bìa sách</th>
                                            <th>Số ĐKCB</th>
                                            <th>Ngày hết hạn</th>
                                            <th>Hiệu lực</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Phát triển năng lực Ngữ văn 7</td>
                                            <td><img src="https://via.placeholder.com/40x55" class="img-thumbnail"></td>
                                            <td>STK0007</td>
                                            <td>11/06/2025</td>
                                            <td><span class="text-success">Còn 3 ngày</span></td>
                                            <td><button class="btn btn-xs btn-success btnChonTra">Trả sách</button></td>
                                        </tr>
                                        <tr>
                                            <td>Sách giáo khoa Ngữ văn 7 - Tập 2 Cánh Diều</td>
                                            <td><img src="https://via.placeholder.com/40x55" class="img-thumbnail"></td>
                                            <td>SGK0054</td>
                                            <td>11/06/2025</td>
                                            <td><span class="text-success">Còn 3 ngày</span></td>
                                            <td><button class="btn btn-xs btn-success btnChonTra">Trả sách</button></td>
                                        </tr>
                                        <tr>
                                            <td>Sách giáo khoa Toán 7 - Tập 1 Cánh Diều</td>
                                            <td><img src="https://via.placeholder.com/40x55" class="img-thumbnail"></td>
                                            <td>SGK0053</td>
                                            <td>11/06/2025</td>
                                            <td><span class="text-success">Còn 3 ngày</span></td>
                                            <td><button class="btn btn-xs btn-success btnChonTra">Trả sách</button></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- XÁC NHẬN SÁCH TRẢ -->
                        <div class="panel panel-default">
                            <div class="panel-heading"><strong>Xác nhận sách trả</strong></div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover text-center" id="bangSachTra">
                                        <thead>
                                            <tr class="info">
                                                <th>STT</th>
                                                <th>Nhân đề</th>
                                                <th>Số ĐKCB</th>
                                                <th>Bìa</th>
                                                <th>Ngày hết hạn</th>
                                                <th>Hiệu lực</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- Hàng thêm động -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- ✅ Cột phải -->
                    <div class="col-md-4">
                        <div class="panel panel-info">
                            <div class="panel-heading"><strong>Thông tin thành viên</strong></div>
                            <div class="panel-body text-center">
                                <img src="https://cdn-icons-png.flaticon.com/512/4140/4140048.png" width="70" class="img-circle">
                                <p><strong>Tài khoản demo </strong></p>
                                <p><small>Lớp/Tổ:</small> Giáo viên</p>
                                <p><small>Niên khóa:</small> 2024/2025</p>
                                <p><small>Ngày sinh:</small> --</p>
                                <p><small>Giới tính:</small> Nam</p>
                                <button class="btn btn-danger btn-block" data-dismiss="modal">Thoát</button>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-body text-center">
                                <p><strong>Tổng số sách:</strong> <span id="tongSachTra">0</span></p>
                                <p><strong>Ngày trả:</strong> <span id="ngayTraThucTe">07/06/2025</span></p>
                                <button id="btnXacNhanTra" class="btn btn-primary btn-block">
                                    <i class="fa fa-check"></i> Xác nhận trả
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>



<!-- MODAL XÁC NHẬN MƯỢN -->
<div class="modal fade" id="xacNhanMuonModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success" style="color:#fff;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="fa fa-check-circle"></i> Xác nhận mượn</h4>
            </div>
            <div class="modal-body" style="font-size:14px;">
                <p><strong>Thành viên:</strong> <span id="tenThanhVien"></span></p>
                <p><strong>Tên sách:</strong> <span id="tenSach"></span></p>
                <p><strong>Số ĐKCB:</strong> <span id="soDKCB"></span></p>
                <hr>
                <p>Bạn có chắc muốn xác nhận cho mượn sách này?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-success" id="btnXacNhanMuon">Xác nhận</button>
            </div>
        </div>
    </div>
</div>


    <!-- 🌟 MODAL ĐÁNH GIÁ SÁCH -->
    <div class="modal fade" id="modalDanhGia" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header bg-info">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">⭐ Đánh giá sách</h4>
                </div>

                <div class="modal-body">
                    <form id="formDanhGia">
                        <div class="form-group">
                            <label>Tên sách:</label>
                            <input type="text" id="bookName" class="form-control" readonly>
                        </div>

                        <div class="form-group">
                            <label>Chấm điểm:</label>
                            <select id="ratingScore" class="form-control">
                                <option value="5">⭐⭐⭐⭐⭐ - Rất hay</option>
                                <option value="4">⭐⭐⭐⭐ - Hay</option>
                                <option value="3">⭐⭐⭐ - Tạm ổn</option>
                                <option value="2">⭐⭐ - Chưa ấn tượng</option>
                                <option value="1">⭐ - Không thích</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Nhận xét:</label>
                            <textarea id="ratingComment" class="form-control" rows="3" placeholder="Viết vài dòng cảm nhận..."></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button type="button" class="btn btn-success" id="btnLuuDanhGia">💾 Lưu đánh giá</button>
                </div>

            </div>
        </div>
    </div>



    <!-- 🌟 MODAL LIÊN HỆ NHẮC TRẢ -->
    <div class="modal fade" id="modalLienHe" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header bg-danger text-white">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">📩 Gửi nhắc nhở trả sách</h4>
                </div>

                <div class="modal-body">
                    <form id="formLienHe">
                        <div class="form-group">
                            <label>Thành viên:</label>
                            <input type="text" id="lhTenThanhVien" class="form-control" readonly>
                        </div>

                        <div class="form-group">
                            <label>Nhan đề sách:</label>
                            <input type="text" id="lhTenSach" class="form-control" readonly>
                        </div>

                        <div class="form-group">
                            <label>Nội dung gửi:</label>
                            <textarea id="lhNoiDung" class="form-control" rows="4"></textarea>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Đóng</button>
                    <button class="btn btn-danger" id="btnGuiLienHe">📤 Gửi</button>
                </div>

            </div>
        </div>
    </div>



    <!-- ====== TAB 2: CHÍNH SÁCH ====== -->
    <div id="chinh-sach-tab" class="tab-content">
        <div class="policy-container">
            <h2>📘 CHÍNH SÁCH – HẠN NGHẠCH – CHẾ TÀI</h2>

            <!-- 🌟 III.1 - Khai báo chính sách mượn -->
            <details class="policy-section" open>
                <summary>📗 Khai báo chính sách mượn</summary>
                <div class="form-group">
                    <label>Nhóm đối tượng:</label>
                    <select id="policyGroup" class="input-box">
                        <option value="">-- Chọn nhóm --</option>
                        <option value="SV">Sinh viên</option>
                        <option value="GV">Giảng viên</option>
                        <option value="NV">Nhân viên</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Loại tài liệu:</label>
                    <select id="policyType" class="input-box">
                        <option value="">-- Chọn loại tài liệu --</option>
                        <option value="SGK">Giáo trình</option>
                        <option value="TL">Tài liệu tham khảo</option>
                        <option value="TT">Tạp chí</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Thời hạn mượn (ngày):</label>
                    <input type="number" id="policyDays" class="input-box" min="1" max="60" />
                </div>

                <div class="form-group">
                    <label>Số lượng mượn tối đa:</label>
                    <input type="number" id="policyLimit" class="input-box" min="1" max="20" />
                </div>

                <button class="btn-save" onclick="savePolicy()">💾 Lưu chính sách</button>

                <div id="policySummary" class="summary-box"></div>
            </details>

            <!-- 🌟 III.2 - Quy tắc phạt và miễn giảm -->
            <details class="policy-section">
                <summary>💸 Quy tắc phạt & Miễn giảm</summary>
                <div class="form-group">
                    <label>Mức phạt trễ hạn (VNĐ/ngày):</label>
                    <input type="number" id="finePerDay" class="input-box" placeholder="VD: 2000" />
                </div>

                <div class="form-group">
                    <label>Giới hạn tối đa (VNĐ):</label>
                    <input type="number" id="fineMax" class="input-box" placeholder="VD: 50000" />
                </div>

                <div class="form-group">
                    <label>Nhóm được miễn/giảm:</label>
                    <select id="fineDiscountGroup" class="input-box">
                        <option value="">-- Chọn nhóm --</option>
                        <option value="GV">Giảng viên (miễn phạt)</option>
                        <option value="SV">Sinh viên (giảm 50%)</option>
                    </select>
                </div>

                <button class="btn-save" onclick="saveFineRule()">💾 Lưu quy tắc phạt</button>
                <div id="fineSummary" class="summary-box"></div>
            </details>

            <!-- 🌟 III.3 - Lịch làm việc -->
            <details class="policy-section">
                <summary>🗓️ Lịch làm việc & Ngày nghỉ</summary>

                <div class="form-group">
                    <label>⏰ Giờ mở cửa</label>
                    <input type="time" id="openTime" class="input-box" value="08:00" />
                </div>

                <div class="form-group">
                    <label>🕔 Giờ đóng cửa</label>
                    <input type="time" id="closeTime" class="input-box" value="17:00" />
                </div>

                <div class="form-group">
                    <label>📅 Ngày nghỉ trong tuần</label>
                    <select multiple id="offDays" class="input-box">
                        <option value="Thứ 2">Thứ 2</option>
                        <option value="Thứ 3">Thứ 3</option>
                        <option value="Thứ 4">Thứ 4</option>
                        <option value="Thứ 5">Thứ 5</option>
                        <option value="Thứ 6">Thứ 6</option>
                        <option value="Thứ 7">Thứ 7</option>
                        <option value="Chủ nhật" selected>Chủ nhật</option>
                    </select>
                </div>

                <button class="btn-save" onclick="saveSchedule()">💾 Lưu lịch làm việc</button>
                <div id="scheduleSummary" class="summary-box"></div>
            </details>

            <!-- 🌟 III.4 - Kiểm tra hợp lệ -->
            <details class="policy-section">
                <summary>⚖️ Kiểm tra hợp lệ giao dịch</summary>

                <div class="form-group">
                    <label>Chọn bạn đọc:</label>
                    <select id="checkReader" class="input-box">
                        <option value="">-- Chọn bạn đọc --</option>
                        <option value="BD001">Nguyễn Văn A</option>
                        <option value="BD002">Trần Thị B</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Nhập mã sách:</label>
                    <input type="text" id="checkBookCode" class="input-box" placeholder="Nhập mã sách..." />
                </div>

                <button class="btn-save" onclick="kiemTraHopLe()">✅ Kiểm tra hợp lệ</button>
                <div id="checkResult" class="summary-box" style="display:none;"></div>
            </details>

            <!-- 🌟 III.5 - Xuất / Nhập cấu hình -->
            <details class="policy-section">
                <summary>📂 Xuất / Nhập Cấu hình</summary>
                <div class="form-group">
                    <button class="btn-info" onclick="exportConfig()">💾 Xuất cấu hình</button>
                    <label class="btn-primary">
                        📥 Nhập cấu hình
                        <input type="file" id="importFile" accept=".json" onchange="importConfig(this)" hidden>
                    </label>
                </div>
                <div id="configSummary" class="summary-box"></div>
            </details>
        </div>
    </div>

    <!-- ===== TAB 3: QUẢN LÝ THẺ & LỊCH THƯ VIỆN ===== -->
    <div id="lich-tab" class="tab-content">
        <h2>📅 QUẢN LÝ THẺ & LỊCH THƯ VIỆN</h2>

        <!-- 🔹 1. Thống kê nhanh -->
        <div class="summary-cards">
            <div class="card stat-card">
                <h4>🪪 Thẻ đang hoạt động</h4>
                <p id="stat-active">0</p>
            </div>
            <div class="card stat-card">
                <h4>🔒 Thẻ bị khóa</h4>
                <p id="stat-locked">0</p>
            </div>
            <div class="card stat-card">
                <h4>⏳ Chờ duyệt</h4>
                <p id="stat-pending">0</p>
            </div>
            <div class="card stat-card">
                <h4>📅 Hết hạn gần nhất</h4>
                <p id="stat-expiry">--</p>
            </div>
        </div>

        <!-- 🔹 2. Danh sách thẻ bạn đọc -->
        <div class="policy-section">
            <h3>🪪 Danh sách thẻ bạn đọc</h3>
            <input type="text" id="searchCard" class="input-box" placeholder="🔍 Tìm theo tên hoặc mã thẻ..." onkeyup="filterCards()" />

            <table class="styled-table" id="cardTable">
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Mã thẻ</th>
                        <th>Tên bạn đọc</th>
                        <th>Ngày cấp</th>
                        <th>Ngày hết hạn</th>
                        <th>Trạng thái</th>
                        <th>Thao tác</th>
                    </tr>
                </thead>
                <tbody id="cardBody"></tbody>
            </table>
        </div>

        <!-- 🔹 3. Yêu cầu thẻ mới / gia hạn -->
        <div class="policy-section">
            <h3>📩 Yêu cầu cấp / gia hạn thẻ</h3>
            <table class="styled-table" id="requestTable">
                <thead>
                    <tr>
                        <th>Mã YC</th>
                        <th>Bạn đọc</th>
                        <th>Loại yêu cầu</th>
                        <th>Ngày gửi</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody id="requestBody"></tbody>
            </table>
        </div>

        <!-- 🔹 4. Lịch hoạt động thư viện -->
        <div class="policy-section">
            <h3>📆 Lịch hoạt động thư viện</h3>
            <button class="btn-info" onclick="toggleSchedule()">📅 Xem / Ẩn lịch</button>
            <div id="librarySchedule" class="schedule-box" style="display:none;">
                <ul>
                    <li><strong>Thứ 2 - Thứ 6:</strong> 7h30 - 17h00</li>
                    <li><strong>Thứ 7:</strong> 8h00 - 12h00</li>
                    <li><strong>Chủ nhật:</strong> Nghỉ</li>
                    <li><strong>Ngày lễ:</strong> Đóng cửa</li>
                </ul>
            </div>
        </div>
    </div>

</div>

<audio id="scanSound" src="https://assets.mixkit.co/sfx/preview/mixkit-barcode-scanner-beep-933.mp3"></audio>

